body {
background-color: rgb(131, 105, 83);
text-align: center;
}

h1 {
color: rgb(92, 64, 51);
}

.imagem1 {
    width: 20%;
}

.imagem2 {
 width: 20%;
}

.imagem3 {
width: 20%;
}

.imagem4 {
width: 20%;
}

.imagem5 {
    width: 20%;
}

.imagem6 {
width: 20%;
}

.imagem7 {
width: 20%;
}

.imagem8 {
width: 20%;
}
