body {
background-color: rgb(215, 188, 135);
text-align: center;
}

h1 {
color: rgb(135, 110, 59);
}

.imagem1 {
    width: 40%;
}

.imagem2 {
 width: 40%;
}

.imagem3 {
width: 40%;
}

.imagem4 {
width: 40%;
}

.imagem5 {
    width: 40%;
}

.imagem6 {
width: 40%;
}

.imagem7 {
width: 40%;
}
